.main {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    width: 1000px;
    max-width: 90vw;

    h1 {
      margin: 0;
      font-size: 5.1rem;
      font-weight: 900;

      .name {
        color: white;
      }

      .dev {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          left: -5%;
          top: 0;
          background-color: white;
          width: 110%;
          height: 100%;
          z-index: -1;
        }
      }
    }
  }
}

.icons {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: white;
  svg {
    margin-right: 0.7rem;
  }

  .twitter {
    color: black;
  }
}
