.main {
  width: 1000px;
  max-width: 95vw;
  height: 100vh;

  display: flex;
  align-items: center;

  h1 {
    margin: 0;
    font-size: 5.8rem;
    font-weight: 900;

    span {
      color: white;
    }
  }
}

.icons {
  font-size: 1.5rem;
  margin-top: 1rem;
  svg {
    margin-right: 0.7rem;
  }
}
